/* ------ Search ------ */
.basic-input {
	line-height: 43px;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #666;
	padding: 0 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.basic-input--xl {
	width: 60%;
}


.au-btn--submit {
	position: relative;
	right: 0;
	min-width: 65px;
	line-height: 43px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #4272d7;
	margin-left: -3px;
	i {
		color: #fff;
	}
}

.au-btn--submit:hover {
	background: #3868cd;
}

.ant-list.ant-list-split {
	position: absolute;
	background: #f7f7f7;
	min-width: 290px;
	z-index: 5;
}
.ant-list-item {
	padding: 5px 10px !important;
}
.ant-list-item-meta {
	align-items: center !important;
}

/* ----- Header ----- */
.header-desktop {
	background: #f5f5f5;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	right: 0;
	left: 300px;
	transition: all .2s;
	height: 75px;
	z-index: 3;
}

.header-desktop .section__content {
	overflow: visible;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}


@media (max-width: 992px) {
	.header-desktop {
		position: relative;
		top: 0;
		left: 0 !important;
	}
}

@media (max-width: 578px) {
	.header-desktop {
		height: 130px;
	}
}



.header-desktop .mess-dropdown {
	top: 51px;
}

.header-desktop .email-dropdown {
	top: 51px;
}

.header-desktop .notifi-dropdown {
	top: 51px;
}

.search-wrapper {
	width: 60%;
	text-align: center;
}

.header-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (max-width: 1199px) {
	.header-wrap .account-item > .content {
		display: none;
	}
}

@media (max-width: 578px) {
	.header-wrap {
		flex-wrap: wrap;
		i, .header-button {
			order: 2;
		}

		.search-wrapper {
			flex: 0 0 100%;
			order: 1;
			text-align: center;
		}
	}

	.header-wrap .mess-dropdown {
		left: 0;
	}

	.header-wrap .mess-dropdown::before {
		left: 0;
	}

	.header-wrap .notifi-dropdown {
		left: -83px;
	}

	.header-wrap .notifi-dropdown::before {
		left: 79px;
	}
}





.header-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 992px) {
	.header-button {
		margin-top: 10px;
		margin-left: auto;
		// width: 100%;
		padding: 10px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.noti-wrap {
	height: 45px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.noti-wrap .noti__item:last-child {
	margin-right: 50px;
}

@media (max-width: 1200px) {
	.noti-wrap .noti__item:last-child {
		margin-right: 30px;
	}
}

@media (max-width: 992px) {
	.noti-wrap .noti__item:last-child {
		margin-right: 0;
	}
}

.noti__item {
	position: relative;
	margin-right: 35px;
	display: inline-block;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.noti__item {
		margin-right: 25px;
	}
}

@media (max-width: 767px) {
	.noti__item {
		margin-right: 20px;
	}
}

.noti__item:hover i {
	color: #999;
}

.noti__item i {
	font-size: 30px;
	color: #a9b3c9;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.noti__item i {
		font-size: 24px;
	}
}

.noti__item .quantity {
	position: absolute;
	display: inline-block;
	top: -4px;
	right: -7px;
	height: 15px;
	width: 15px;
	line-height: 15px;
	text-align: center;
	background: #ff4b5a;
	color: #fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-size: 12px;
}

.account-wrap {
	position: relative;
}

.account-item {
	cursor: pointer;
}

.account-item .image {
	width: 45px;
	height: 45px;
	float: left;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.account-item .image > img {
	width: 100%;
}

.account-item > .content {
	margin-left: 45px;
	padding: 9px 0;
	padding-left: 12px;
}

.account-item > .content > a {
	color: #333;
	text-transform: capitalize;
	font-weight: 500;
}

.account-item > .content > a:after {
	font-family: 'Material-Design-Iconic-Font';
	font-weight: 500;
	content: '\f2f9';
	display: inline-block;
	font-size: 16px;
	margin-left: 5px;
}

.account-item > .content > a:hover {
	color: #666;
}
.navbar-role {
	margin-left: 6px;
}
.navbar-unlogged {
	display: flex;

	justify-content: space-between;
	width: 137px;
}

$emailListBG: #fff;
.email__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	padding: 19px 22px;
	padding-bottom: 14px;
	border-bottom: 1px solid #f2f2f2;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;

	&--unread {
		background-color: darken($emailListBG, 6);
		border-bottom: 1px solid #e2e2e2;
		&:hover {
			background-color: darken($emailListBG, 8);
			cursor: pointer;
		}
	}

	&:not(.email__item--unread):hover {
		cursor: pointer;
		background-color: darken($emailListBG, 2);
	}
}

.email__title {
	padding: 22px;
	border-bottom: 1px solid #f2f2f2;
	cursor: default;
}

.email__title p {
	line-height: -webkit-calc(29/14);
	line-height: -moz-calc(29/14);
	line-height: calc(29 / 14);
	font-size: 14px;
	color: #808080;
}

.email__footer span {
	display: block;
	text-transform: capitalize;
	text-align: center;
	font-size: 14px;
	color: #4272d7;
	padding: 24px 0;
}

.email__footer span:hover {
	color: #0955fa;
	cursor: pointer;
}

.email__item .image {
	margin-right: 15px;
}

.email__item .content {
	width: -webkit-calc(100% - 55px);
	width: -moz-calc(100% - 55px);
	width: calc(100% - 55px);
	text-align: left;
	font-size: 14px;
}

.email__item .content p {
	color: #555;
	line-height: 1;
	padding-top: 4px;
	margin-bottom: 3px;
}

.email__item .content span {
	font-size: 12px;
	color: #999;
}
.email-dropdown {
	position: absolute;
	z-index: 9999;
	min-width: 300px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	border: 1px solid #e5e5e5;

	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;

	top: 35px;
	right: -133px;
}
// .email-dropdown:before {
// 	content: '';
// 	display: block;
// 	width: 19px;
// 	height: 19px;
// 	border-bottom: 9px solid #fff;
// 	border-top: 9px solid transparent;
// 	border-left: 9px solid transparent;
// 	border-right: 9px solid transparent;
// 	position: absolute;
// 	top: -17px;
// 	right: 34px;
// 	z-index: 3;
// }

.account-dropdown {
	min-width: 305px;
	position: absolute;
	top: 30px;
	right: 14px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	z-index: 3;
}

.account-dropdown .info {
	padding: 25px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f2f2f2;
}

.account-dropdown .info .image {
	float: left;
	height: 65px;
	width: 65px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.account-dropdown .info .content {
	margin-left: 65px;
	padding: 11px 0;
	padding-left: 12px;
}

.account-dropdown .info .content .name {
	line-height: -webkit-calc(20/16);
	line-height: -moz-calc(20/16);
	line-height: calc(20 / 16);
}

.account-dropdown .info .content .name a {
	color: #333;
	font-weight: 500;
	text-transform: capitalize;
}

.account-dropdown .info .content .name a:hover {
	color: #666;
}

.account-dropdown .info .content .email {
	font-size: 13px;
	color: #999;
	line-height: -webkit-calc(20/13);
	line-height: -moz-calc(20/13);
	line-height: calc(20 / 13);
}

.account-dropdown:after {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	border-bottom: 9px solid #fff;
	border-top: 9px solid transparent;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	position: absolute;
	top: -18px;
	right: 33px;
}

.account-dropdown__item a {
	display: block;
	color: #333;
	padding: 15px 25px;
	font-size: 14px;
}

.account-dropdown__item a:hover {
	background: #4272d7;
	color: #fff;
}

.account-dropdown__item a i {
	line-height: 1;
	margin-right: 20px;
	font-size: 18px;
	vertical-align: middle;
}

.account-dropdown__body {
	padding: 12px 0;
}

.account-dropdown__footer {
	border-top: 1px solid #f2f2f2;
}

.account-dropdown__footer a {
	display: block;
	color: #333;
	padding: 15px 25px;
	font-size: 14px;
}

.account-dropdown__footer a:hover {
	background: #4272d7;
	color: #fff;
}

.account-dropdown__footer a i {
	line-height: 1;
	margin-right: 20px;
	font-size: 18px;
	vertical-align: middle;
}

/* ------ Modal messages ------ */

.ant-modal-content .ant-modal-footer {
	text-align: center;
}

.ant-modal { 
	top: 10%;
}

.modal-body {
	overflow-y: auto;
	height: 50vh;
}

.message-loader {
	font-size: 25px;
	@include centerer(true, true);
	color: #1890ff;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
	padding: 0 !important;
}

.ant-collapse-borderless > .ant-collapse-item {
	margin: 0 0px 10px 0;
	border-bottom: 4px solid #eef4ff !important;
}
.ant-collapse-borderless
	> .ant-collapse-item
	> .ant-collapse-content
	> .ant-collapse-content-box {
	background: #f7f8fb;

	& .sender-info {
		border-bottom: 1px solid #e2e2e2;
		padding-bottom: 7px;

		span {
			color: #c1c1c1;
			margin-right: 23px;
		}
		i {
			margin-right: 5px;
		}
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.from-date {
			.time {
				font-size: 27px;
				font-weight: 500;
			}
			.date {
				color: #b3b3b3;
			}
		}
	}

	& .sender-text {
		margin-top: 5px;
	}
}

.message-header {
	background: #fff;
	transition: all 0.2s ease-in-out;
	width: 100%;
	height: 100%;
	padding: 12px 0 12px 40px;
	box-shadow: 0 0 1px #9c9c9c inset;

	&:hover {
		background: rgb(248, 248, 248);
	}

	& .gg {
		background: rgb(248, 248, 248);
	}

	& .message-tags {
		display: inline;
	}
	@media (max-width: 578px) {
		& .message-tags {
			display: none;
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;

	& .message-counter {
		font-size: 19px;
	}

	& li {
		margin-left: 10px;
		list-style-type: none;
	}
}

.right-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trigger {
	display: none !important;
}

.trigger:hover {
	color: #1890ff;
}

@media (max-width: 992px) {
	.trigger {
		display: block !important;
		font-size: 18px;
		line-height: 64px;
		padding: 0 24px;
		cursor: pointer;
		transition: color .3s;
	}
	.right-menu {
		width: 200px;
		margin-left: auto;
	}
}

