.content-profile-page {
    margin: auto;
    max-width: 1000px;
}

.card {
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: .1em solid rgba(0, 0, 0, 0.2);
    padding-bottom: 1em;
}

.profile-user-page {
    & .img-user-profile {
        margin: auto;
        text-align: center;

        & .image-wrapper {
            margin: 0 auto;
            position: relative;
            
            margin-top: -65px;
            width: 102px;
            &:hover .delete-btn {
                display: block;
            }
            & .delete-btn {
                position: absolute;
                z-index: 5;
                border-radius: 50%;
                font-size: 30px;
                background: #fff;
                color: rgb(247, 93, 93);
                padding: 6px;
                left: 103px;
                opacity: 0.5;
                transition: opacity .3s;
                display: none;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }

            }

        }
        & .profile-bgHome {
            height: 27em;
            }

        & .avatar-upload {
            & .ant-upload.ant-upload-select-picture-card {
                border-radius: 50%;
            }
        }
    }

    & .user-profile-data {
        text-align: center;

        .name-style {
            font-size: 30px;
        }

        .edit-form {
            margin: auto;
            max-width: 350px;
        }

        .profile-field  {
            position: relative;
            display: inline-block;

            &__edit-btn {
                position: absolute;
                right: -40px;
                bottom: 0;
                top: 20%;
                color: rgba(8, 8, 8, 0.671);

                &:hover {
                    color:#4272d7 ;
                    cursor: pointer
                }
            }
        }
    }
}