<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>{{title}} | CodeNameVero</title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        table {
            border-spacing: 0;
        }

        table td {
            border-collapse: collapse;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        .ReadMsgBody {
            width: 100%;
            background-color: #ebebeb;
        }

        table {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        @media screen and (max-width: 680px) {

            .force-row,
            .container {
                width: 95% !important;
                max-width: 95% !important;
            }

        }

        @media screen and (max-width: 680px) {
            .logo {
                float: left;
                display: inline-block;
                margin-left: 0px !important;
                margin-top: -4px !important;
            }

        }

        @media screen and (max-width: 680px) {
            .header-text {
                float: left !important;
                width: calc(100% - 70px) !important;
            }

        }

        @media screen and (max-width: 450px) {
            .header {
                text-align: center;
            }

        }

        @media screen and (max-width: 450px) {

            .logo,
            .header-text {
                float: none !important;
            }

        }

        @media screen and (max-width: 450px) {
            .header-text {
                width: 100% !important;
            }

        }

        @media screen and (max-width: 450px) {
            .container-padding {
                padding-left: 20px !important;
                padding-right: 20px !important;
                padding-top: 20px !important;
                padding-bottom: 20px !important;
            }

        }

        @media screen and (max-width: 450px) {
            .call-to-action {
                padding-top: 20px !important;
                margin-top: 20px !important;
            }

        }

        @media screen and (max-width: 450px) {
            .logo {
                width: 40px;
                height: auto;
                margin-bottom: 20px;
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

        }

        .ios-footer a {
            color: #aaaaaa !important;
            text-decoration: underline;
        }
    </style>
</head>

<body style="margin:0; padding:0;" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <div style="background:#eeeeee;">
        <p style="display:none !important;
            visibility:hidden;
            mso-hide:all;
            font-size:1px;
            color:#ffffff;
            line-height:1px;
            max-height:0px;
            max-width:0px;
            opacity:0;
            overflow:hidden;">{{title}}</p>
    </div>
    <meta itemprop="name" content="{{title}}" />
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
        <tr>
            <td align="center" valign="top" bgcolor="#ffffff" style="background-color: #ffffff;">
                <br>
                <!-- 600px container (white background) -->
                <table border="0" width="600" cellpadding="0" cellspacing="0" class="container" style="width:600px;max-width:600px;border: 1px solid #eeeeee;border-radius:3px;">
                    <tr>
                        <td class="container-padding header" align="left" style="padding-top:40px;padding-bottom:40px;padding-left:40px;padding-right:40px;border-bottom: 1px solid #eee;">
                            <div class="header-text" style="float:left;width:81%;">
                                <p mc:edit="subject" style="font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:22px;font-weight:bold;color:#444444;margin-top:0px;margin-bottom:0px;">{{title}}</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="container-padding content" align="left" style="padding-left:40px;padding-right:40px;padding-top:40px;padding-bottom:40px;background-color:#ffffff">
                            <div mc:edit="body" class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">
                                {{{content}}}
                            </div>
                        </td>
                    </tr>
                </table>
                <!--/600px container -->
                <table border="0" width="600" cellpadding="0" cellspacing="0" class="container">
                    <tr>
                        <td class="container-padding footer-text" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:13px;line-height:19px;color:#aaaaaa;padding-top:20px;text-align:center;">
                            This email was sent by CodeNameVero Team of bidlocoders.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% background wrapper-->
</body>

</html>