<p style="margin-top:0px;">Hey, {{name}}!</p>

<p>Please, verify your email adress!</p>

<p><a href="{{verifyUrl}}" class="btn-primary" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">Verify
        Email Address</a></p>

<p style="margin-bottom:0px;">
    Thanks! <br /> Snietyn CodeNameVero Team
</p>